<h3 id="server_demo">Server side demo</h3>
<div class='row'>
  <div class='col-md-5'>
    <div class='well'>
      <h4>Simple Calculator</h4>
      <%= form_tag '/welcome/add#server_demo' do %>
        <%= text_field_tag :left %> + <%= text_field_tag :right %>
        <br />
        <br />
        <%= submit_tag "Add", class: 'btn btn-block btn-success' %>
      <% end %>
      <% if @answer %>
        <h3>The answer is <%= @answer %></h3>
      <% end %>
    </div>
  </div>
</div>