<h1>Functional Imperative's Information Page for AirMiles LoyaltyOne</h1>

<%= render "introduction" %>
<%= render "security" %>
<%= render "html" %>
<%= render "css" %>
<%= render "server" %>
<%= render "client" %>
<%= render "api" %>